<div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-orange tile p-2">
            <mat-icon>group</mat-icon> 
            <h2>{{users?.length}}</h2>
            <p>users</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>shopping_cart</mat-icon> 
            <h2>{{carts?.length}}</h2>
            <p>orders</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>save_alt</mat-icon> 
            <h2>{{reservations?.length}}</h2>
            <p>Reservations</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>save_alt</mat-icon>
            <h2>{{categories?.length}}</h2>
            <p>Categories</p>
        </mat-card>
    </div>
</div>
