<h1 mat-dialog-title><span *ngIf="!user.id">Add</span><span *ngIf="user.id">Edit</span> user</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs tab-content-wrapped">
<!--            <mat-tab label="Basic">-->
<!--                <div fxLayout="column" class="form-field-outer">-->
<!--                    <mat-form-field class="w-100">-->
<!--                        <mat-label><mat-icon>person</mat-icon> Username</mat-label>-->
<!--                        <input matInput formControlName="username" required>-->
<!--                        <mat-error *ngIf="form.controls.username.errors?.required">Username is required</mat-error>-->
<!--                        <mat-error *ngIf="form.controls.username.hasError('minlength')">Username isn't long enough, minimum of 5 characters</mat-error>-->
<!--                    </mat-form-field>-->
<!--                </div>-->
<!--            </mat-tab>-->
            <mat-tab label="Personal" >
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="chefName">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                </div>
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Phone</mat-label>
                        <input type="number" matInput formControlName="phoneNumber">
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="primary"
                (click)="addChef()" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!user.id">Save</span><span *ngIf="user.id">Update</span></button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div> 
</div>
