<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
        <a mat-raised-button color="primary" routerLink="/admin/menu-items/add">
            <mat-icon class="mat-icon-md">add</mat-icon>
            Add New Menu Item
        </a>
    </div>
    <mat-divider></mat-divider>

    <div class="table-wrapper">
        <table class="w-100">

            <!-- ID Column -->
            <th> ID</th>
            <!-- Image Column -->
            <th> Image</th>
            <!-- Category Column -->
            <th> Category</th>
            <!-- Name Column -->
            <th> Name</th>
            <!-- Price Column -->
            <th> Price</th>
            <!-- Is Vegetarian Column -->
            <th> Is Vegetarian</th>
            <th>Actions</th>
            <tbody>
            <tr *ngFor="let menu of menuItem">
                <td>{{menu.id}}</td>

                <td style="max-width: 100px; height: 100px;">
                    <img [src]="imgUrl+menu?.image" style="width: 100px; height: 100px;">
                </td>
                <td>{{menu?.category?.name}}</td>
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td>{{menu.isVegetarian}}</td>
                <td >
                    <button mat-icon-button color="primary" [routerLink]="['/admin/menu-items/add/'+menu?.id]" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="remove(menu)" matTooltip="Remove">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-card>
